<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)='login()'>
        <div class="user-box">
        <input type="email" formControlName="username">
        <label>Email</label>
        </div>
        <div class="user-box">
        <input type="password" formControlName="password">
        <label>Password</label>
        </div>
        <a href="#">
            <input type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        </a>
        </form>
        </div>

        <!-- <input type="submit" value="Submit"> -->
</body>
</html>



<!-- 

<form [formGroup]="loginForm" (ngSubmit)='login()' class="form">
    <label for="email">Email</label>
    <input type="email" formControlName="username">
    <label for="password">Password</label>
    <input type="password" formControlName="password">
    <input type="submit" id="submit" value="Submit">
  </form> -->