<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
</head>
<body>


    <div class="details">
        <ul>
            <li *ngFor="let teacher of teachers">{{teacher.name}} - {{teacher.experience}}</li>
        </ul>
    </div>
    <div class="login-box">
        <h2>Teachers</h2>
        
       
        <form [formGroup]="teacherForm" (ngSubmit)='onSubmit()'>
        <div class="user-box">
        <input type="text" formControlName="name">
        <label> Teachers Name</label>
        </div>
        <div class="user-box">
        <input type="number" formControlName="experience">
        <label>Experience</label>
        </div>
        <a >
            <button type="submit" [disabled]="!teacherForm.valid">Add Student</button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        </a>
        </form>
        </div>

        <!-- <input type="submit" value="Submit"> -->
</body>
</html>

