<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhombus Components</title>
    <style>
       
    </style>
</head>
<body>
   
    <div class="container">
        <div class="navbar">
            <div class="navbar-title">My Components</div>
        </div>
        <a  routerLink="/customer" class="component">Customer</a>
        <a  routerLink="/supplier" class="component">Supplier</a>
        <a  routerLink="/product" class="component">Product</a>
        <a  routerLink="/order" class="component">Order</a>
    </div>
</body>
</html>
